{% extends "layouts/base.html" %}

{% block title %} Dashboard {% endblock %}

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}



    <div class="card border-light shadow-sm">
        <div class="card-header">
            <div class="row align-items-center">
                <div class="col">
                    <div class="h5">Deployed Applications</div>
                </div>
                {% if apps|length > 0 %}
                    <div class="col text-end">
                        Count: {{ apps|length }}
                    </div>
                {% endif %}

            </div>
        </div>
        <div class="table-responsive">
            <table class="table align-items-center table-flush">
                <thead class="thead-light">
                <tr>
                    <th scope="col">Name</th>
                    <th scope="col">State</th>
                    <th scope="col">Created On</th>
                </tr>
                </thead>
                <tbody>
                {% for app in apps %}
                    <tr>
                        <th scope="row">{{ app.name }}</th>
                        <td>{{ app.state }}</td>
                        <td>{{ app.creation_time.strftime('%Y-%m-%d %H:%m') }}</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}{% endblock javascripts %}
