{% extends "layouts/base.html" %}

{% block title %} Details {% endblock %}

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}
    {% if 'console' not in segment %}
    <div class="card border-light shadow-sm">
        <div class="card-header">
            <div class="row align-items-center">
                <div class="col">
                    <div class="h5">My VM Details</div>
                </div>
                <div>
                    {{ vm_details }}
                </div>
            </div>
        </div>
    </div>
    {% endif %}
    {% if 'console' in segment %}
    <div class="card border-light shadow-sm">
        <div class="card-header">
            <div class="row align-items-center">
                <div class="row">
                    <div class="h6">Console</div>
                </div>
                <div class="ratio ratio-4x3">
                    <iframe src="{{ url_for('vms.console', vm_uuid=vm_uuid) }}"></iframe>
                </div>
            </div>
        </div>
    </div>
    {% endif %}
{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}{% endblock javascripts %}
