{% extends "layouts/base.html" %}

{% block title %} Virtual Machines {% endblock %}

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

    <div class="card border-light shadow-sm">
        <div class="card-header">
            <div class="row align-items-center">
                <div class="col">
                    <div class="h5">Deployed Virtual Machines</div>
                </div>
                {% if vms|length > 0 %}
                    <div class="col text-end">
                        Count: {{ vms|length }}
                    </div>
                {% endif %}

            </div>
        </div>
        <div class="table-responsive">
            <table class="table align-items-center table-flush">
                <thead class="thead-light">
                <tr>
                    <th scope="col">Name</th>
                    <th scope="col">Power State</th>
                    <th scope="col">Memory</th>
                </tr>
                </thead>
                <tbody>
                {% for vm in vms %}
                    <tr>
                        <th scope="row">
                        <a href="/vms/details?vm_uuid={{ vm.vm_uuid }}">{{ vm.name }}</a></th>
                        <td>{{ vm.power_state }}</td>
                        <td>{{ vm.memory }}</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}{% endblock javascripts %}
