{% extends "layouts/base.html" %}

{% block title %} Setup Application {% endblock %}

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

    <div class="card border-light shadow-sm">
        <div class="card-header">
            <div class="row align-items-center">
                <div class="col">
                    <div class="h5">Customize Runtime Editables</div>
                </div>
            </div>
        </div>
        <div class="mb-3">
            <form method="POST">
                <div class="input-group input-group-sm mb-3">
                    <span class="input-group-text" id="inputGroup-sizing-sm">Application Name</span>
                    <input type="text" id="mpi_app_name" name="mpi_app_name" required class="form-control" aria-describedby="inputGroup-sizing-sm">
                </div>
                <div class="input-group mb-3">
                    <label class="input-group-text" for="mpi_env">Environment</label>
                    <select class="form-select" name="mpi_env" id="mpi_env">
                        {% for env in mpi_environments %}
                        <option value="{{ env.uuid}}">{{ env.name}}</option>
                        {% endfor %}
                    </select>
                </div>
                {% for variable in runtime_editables %}
                    <div class="input-group input-group-sm mb-3">
                        <span class="input-group-text" id="inputGroup-sizing-sm">{{ variable.name }}</span>
                        <input {% if variable.type=='SECRET' %} type="password" {% else %} type="text" {% endif %}
                                {% if variable.is_mandatory %} required {% endif %}
                                id="{{ variable.name }}" 
                                name="{{ variable.name }}" 
                                value="{{ variable.value }}" 
                                class="form-control"
                        >
                    </div>
                {% endfor %}
                <div class="col-12">
                    <button class="btn btn-primary" type="submit">Deploy App</button>
                </div>
            </form>
        </div>
    </div>

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}{% endblock javascripts %}
